@using Mediplus.DTOs;
@model CreateHospitalDto;
<form method="post">
   
    <select asp-for="HospitalId" asp-items="ViewBag.Hospitals" class="form-select" >
        <option></option>

     
    </select>
    <select asp-for="DoctorId" asp-items=ViewBag.Doctors class="form-select" multiple aria-label="multiple select example">
        <option></option>
       
    </select>
 
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>