@model IEnumerable<Work>;

   
 
    @await Component.InvokeAsync("RecentWorks");
<!-- Start Banner Hero -->
<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">About Us</h1>
                <p class="light-300">
                    Vector illustration credit goes to <a rel="nofollow" href="http://freepik.com/" target="_blank">FreePik</a> website. Purple Buzz is provided by TemplateMo. Lorem ipsum dolor sit amet, consectetur.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/img/banner-img-02.svg">
            </div>
        </div>
    </div>
</section>
<!-- End Banner Hero -->
<!-- Start Team Member -->
<section class="container py-5">
    <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5">

        <div class="col-lg-3">
            <h2 class="h2 py-5 typo-space-line">Our Team</h2>
            <p class="text-muted light-300">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>

        <div class="col-lg-9 row">
           @foreach(Work item in @Model){
                <div class="team-member col-md-4">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="./img/@item.Description"
                    alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>@item.Title</li>
                        <li>@item.ServiceId</li>
                    </ul>
                </div>
            }
            
          
        </div>

    </div>
</section>
<!-- End Team Member -->
<!-- Start Our Partner -->
<section class="bg-secondary py-3">
    <div class="container py-5">
        <h2 class="h2 text-white text-center py-5">Our Partner</h2>
        <div class="row text-center">
            <div class="col-md-3 mb-3">
                <div class="card partner-wap py-5">
                    <a href="#"><i class='display-1 text-white bx bxs-buildings'></i></a>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card partner-wap py-5">
                    <a href="#"><i class='display-1 bx text-white bxs-check-shield bx-lg'></i></a>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card partner-wap py-5">
                    <a href="#"><i class='display-1 text-white bx bxs-bolt-circle'></i></a>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card partner-wap py-5">
                    <a href="#"><i class='display-1 text-white bx bxs-spa'></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Our Partner-->
<!-- Start Progress -->
<section class="bg-white py-5">
    <div class="container my-4">

        <h1 class="creative-heading h2 pb-3">Creative & Make Perfect</h1>

        <div class="creative-content row py-3">
            <div class="col-md-5">
                <p class="text-muted col-lg-8 light-300">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida Risus.
                </p>
            </div>
            <div class="creative-progress col-md-7">

                <div class="row mt-4 mt-sm-2">
                    <div class="col-6">
                        <h4 class="h5">Development</h4>
                    </div>
                    <div class="col-6 text-right">66%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <div class="row mt-4 mt-sm-2">
                    <div class="col-6">
                        <h4 class="h5">Design</h4>
                    </div>
                    <div class="col-6 text-right">90%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>


                <div class="row mt-4 mt-sm-2">
                    <div class="col-6">
                        <h4 class="h5">Marketing</h4>
                    </div>
                    <div class="col-6 text-right">74%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 74%" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Progress -->
<!-- Start Choice -->
<section class="why-us banner-bg bg-light">
    <div class="container my-4">
        <div class="row">
            <div class="banner-img col-lg-5">
                <img src="~/img/work.svg" class="rounded img-fluid" alt="">
            </div>
            <div class="banner-content col-lg-7 align-self-end">
                <h2 class="h2 pb-3">Why you choose us?</h2>
                <p class="text-muted pb-5 light-300">
                    You are allowed to download and use this Purple Buzz template for your websites. You are <strong>not allowed</strong> to re-distribute this template ZIP file on other template websites. It is quite easy to simply copy and repost the ZIP file on any <a rel="nofollow" href="https://www.google.com/search?q=free+css" target="_blank">Free CSS collection</a> websites.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Choice -->
<!-- Start Aim -->
<section class="banner-bg bg-white py-5">
    <div class="container my-4">
        <div class="row text-center">

            <div class="objective col-lg-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class="display-4 bx bxs-bulb text-light"></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Our Vision</h2>
                <p class="light-300">
                    Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.
                </p>
            </div>

            <div class="objective col-lg-4 mt-sm-0 mt-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class='display-4 bx bx-revision text-light'></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Our Mission</h2>
                <p class="light-300">
                    Eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam quis.
                </p>
            </div>

            <div class="objective col-lg-4 mt-sm-0 mt-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class="display-4 bx bxs-select-multiple text-light"></i>
                </div>
                <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Our Goal</h2>
                <p class="light-300">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor.
                </p>
            </div>

        </div>
    </div>
</section>
<!-- End Aim -->
<!-- Start Contact -->
<section class="banner-bg bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto my-4 p-3">
                <form action="#" method="get">
                    <h1 class="h2 text-center">Stay up to date with us</h1>
                    <div class="input-group py-3">

                        <input name="email" type="text" class="form-control form-control-lg rounded-pill rounded-end" id="email" placeholder="Your Email" aria-label="Your Email">
                        <button class="btn btn-secondary text-white btn-lg rounded-pill rounded-start px-lg-4" type="submit">Subsribe</button>
                    </div>
                    <p class="text-center light-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua.</p>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Contact -->
<!-- Start Work Sigle -->
<section class="container py-5">

    <div class="row pt-5">
        <div class="worksingle-content col-lg-8 m-auto text-left justify-content-center">
            <h2 class="worksingle-heading h3 pb-3 light-300 typo-space-line">Digital Marketing Service</h2>
            <p class="worksingle-footer py-3 text-muted light-300">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div><!-- End Blog Cover -->

    <div class="row justify-content-center pb-4">
        <div class="col-lg-8">
            <div id="templatemo-slide-link-target" class="card mb-3">
                <img class="img-fluid border rounded" src="./img/work-slide-04.jpg" alt="Card image cap">
            </div>
            <div class="worksingle-slide-footer row">

                <!--Start Controls-->
                <div class="col-1 align-self-center">
                    <a href="#multi-item-example" role="button" data-bs-slide="prev">
                        <i class='bx bxs-chevron-left bx-sm text-dark'></i>
                    </a>
                </div>
                <!--End Controls-->
                <!--Start Carousel Wrapper-->
                <div id="multi-item-example" class="col-10 carousel slide" data-bs-ride="carousel">
                    <!--Start Slides-->
                    <div class="carousel-inner" role="listbox">

                        <!--First slide-->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-06.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-06-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-05.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-05-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-04.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-04-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-03.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-03-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-01.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-01-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-01.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-01-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-03.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-03-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-02.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-02-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-01.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-01-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-06.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-06-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.Second slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-01.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-01-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-03.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-03-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-02.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-02-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-01.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-01-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="templatemo-slide-link" href="./img/work-slide-06.jpg">
                                        <img class="img-fluid border rounded" src="./img/work-slide-06-small.jpg" alt="Product Image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.Second slide-->

                    </div>
                    <!--End Slides-->
                </div>
                <!--End Carousel Wrapper-->
                <!--Start Controls-->
                <div class="col-1 align-self-center text-end">
                    <a href="#multi-item-example" role="button" data-bs-slide="next">
                        <i class='bx bxs-chevron-right bx-sm text-dark'></i>
                    </a>
                </div>
                <!--End Controls-->

            </div>
        </div>
    </div><!-- End Slider -->

    <div class="row">
        <div class="col-md-8 m-auto text-left justify-content-center">
            <p class="pt-5 text-muted light-300">
                You are permitted to download, modify and use Purple Buzz template for your websites. You are <strong>not permitted</strong> to re-distribute this template ZIP file on any other template websites. It is super easy to simply copy and repost the ZIP file on any <a rel="nofollow" href="https://www.google.com/search?q=free+css" target="_blank">Free CSS</a> template websites.
            </p>
        </div>
    </div><!-- End Paragrph -->


    <div class="row">
        <div class="col-md-8 m-auto text-left justify-content-center">
            <p class="display-6 py-4 ps-4 border border-5 border-top-0 border-end-0 border-bottom-0 border-start">
                <i>
                    "Vestibulum vestibulum est eu lorem laoreet suscipit. Duis auctor,
                    metus vel sollicitudin hendrerit, elit neque pulvinar magna, non
                    sodales orci turpis blandit quam."
                </i>
            </p>
            <p class="text-muted light-300">
                Nam tortor quam, aliquet vel nibh sit amet, faucibus bibendum nisl.
                Donec vehicula nulla justo, vel sodales massa vestibulum nec. Praesent
                non orci sed massa fringilla rutrum at et odio. Quisque est orci,
                elementum sed neque ac, suscipit consectetur leo. Cras fermentum luctus
                cursus. Ut porta, augue vel tempus congue, augue purus vulputate ex,
                lacinia lobortis arcu metus sed lectus.
            </p>
        </div>
    </div><!-- End Qute -->


    <div class="row justify-content-center">
        <div class="col-lg-8 pt-4 pb-4">
            <div class="ratio ratio-16x9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1z--ZRS5x5U" allowfullscreen></iframe>
            </div>
        </div>
    </div><!-- End Video -->

    <div class="row justify-content-center">
        <div class="col-lg-8 ml-auto mr-auto pt-3 pb-4">
            <p class="text-muted light-300">
                Ed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.
            </p>
        </div>
    </div>
    <!-- End Work Sigle -->
    <!-- Start Comment -->
    <div class="row justify-content-center">
        <div class="worksingle-comment-heading col-8 m-auto pb-3">
            <h4 class="h5">Comments</h4>
        </div>
    </div>

    <div class="row pb-4">
        <div class="worksingle-comment-body col-md-8 m-auto">
            <div class="d-flex">
                <div>
                    <img class="rounded-circle" src="./img/team-05.jpg" style="width: 50px;">
                </div>
                <div class="comment-body">
                    <div class="comment-header d-flex justify-content-between ms-3">
                        <div class="header text-start">
                            <h5 class="h6">John Doe</h5>
                            <p class="text-muted light-300">10 mins ago</p>
                        </div>
                        <a href="#" class="text-decoration-none text-secondary"><i class='bx bxs-share me-2'></i>Reply</a>
                    </div>
                    <div class="footer">
                        <div class="card-body border ms-3 light-300">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Comment -->


    <div class="row pb-4">
        <div class="col-lg-8 m-auto">
            <div class="d-flex">
                <div>
                    <img class="rounded-circle" src="./img/team-01.jpg" style="width: 50px;">
                </div>
                <div class="comment-body">
                    <div class="comment-header d-flex justify-content-between ms-3">
                        <div class="header text-start">
                            <h5 class="h6">Jane Doe</h5>
                            <p class="text-muted light-300">5 mins ago</p>
                        </div>
                        <a href="#" class="text-decoration-none text-secondary"><i class='bx bxs-share me-2'></i>Reply</a>
                    </div>
                    <div class="footer">
                        <div class="card-body border ms-3 light-300">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Comment -->


    <div class="row pb-4">
        <div class="col-lg-8 m-auto">
            <div class="d-flex ml-4">
                <div>
                    <img class="rounded-circle" src="./img/team-05.jpg" style="width: 50px;">
                </div>
                <div class="comment-body">
                    <div class="comment-header d-flex justify-content-between ms-3">
                        <div class="header text-start">
                            <h5 class="h6">John Doe</h5>
                            <p class="text-muted light-300">15 mins ago</p>
                        </div>
                        <a href="#" class="text-decoration-none text-secondary"><i class='bx bxs-share me-2'></i>Reply</a>
                    </div>
                    <div class="footer">
                        <div class="card-body border ms-3 light-300">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Comment -->


    <div class="row pb-4">
        <div class="col-lg-8 m-auto">
            <div class="d-flex ml-5">
                <div>
                    <img class="rounded-circle" src="./img/team-01.jpg" style="width: 50px;">
                </div>
                <div class="comment-body">
                    <div class="comment-header d-flex justify-content-between ms-3">
                        <div class="header text-start">
                            <h5 class="h6">Jane Doe</h5>
                            <p class="text-muted light-300">16 mins ago</p>
                        </div>
                        <a href="#" class="text-decoration-none text-secondary"><i class='bx bxs-share me-2'></i>Reply</a>
                    </div>
                    <div class="footer">
                        <div class="card-body border ms-3 light-300">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Comment -->


    <div class="row pb-4">
        <div class="worksingle-comment-footer col-lg-8 m-auto">
            <h4 class="h5">Leave Comment</h4>
            <form class="col-md-12 m-auto" method="POST" action="#" role="form">

                <div class="form-group">
                    <label class="pb-2 pt-sm-0 pt-4 light-300" for="inputmessage">Your Comment</label>
                    <textarea class="form-control form-control-lg light-300" id="inputmessage" name="inputmessage" placeholder="Your Comment" rows="5"></textarea>
                </div>

                <div class="row py-4">
                    <div class="col-lg-6">
                        <label class="pb-2 light-300" for="inputname">Name</label>
                        <input type="text" class="form-control form-control-lg light-300" id="inputname" name="inputname" placeholder="Name">
                    </div>
                    <div class="col-lg-6">
                        <label class="pb-2 pt-sm-0 pt-4 light-300" for="inputemail">Email</label>
                        <input type="email" class="form-control form-control-lg light-300" id="inputemail" name="inputemail" placeholder="Email">
                    </div>
                </div>

                <div class="form-row pt-2">
                    <div class="col-md-12 col-10 text-end">
                        <button type="submit" class="btn btn-secondary text-white px-md-4 px-2 py-md-3 py-1 radius-0 light-300">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- End Comment Form -->


</section>
<!-- End Work Sigle -->